.main-content {
    margin: 70px; 
}

.menu-link {
    color: white;
    font-size: 18px;
    text-decoration: none; /* Quita el subrayado de los enlaces */
    margin-right: 40px; /* Ajusta el espacio entre los enlaces */
}

.menu-link:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el mouse por encima */
}



.content-wrapper a:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el mouse por encima */
}

.main-content p {
    color: white;
    font-size: 16px; /* Tamaño de fuente personalizado para el párrafo */
    line-height: 1.5; /* Espaciado entre líneas del párrafo */
}




